[submodule "connectors/kafka-connect-irc"]
	path = connectors/kafka-connect-irc
	url = https://github.com/cjmatta/kafka-connect-irc
[submodule "WikipediaChangesMonitor"]
	path = WikipediaChangesMonitor
	url = git@github.com:cjmatta/WikipediaChangesMonitor.git
